@import '_theme';


// Default Header
.header {
    flex-direction: row;
    margin: 0;
    padding: $p-1-5;

    * {
        font-size: $f-s4;
        margin: $m-0;
        font-family: $f-f1;
        font-weight: $f-w3;
    }
}

.container-1{
    padding: $p-0-75 $p-3-75;
}

.badge {
    display: inline-block;
    border-radius: $br-3;
    padding: $p-0-75 $p-1-25;

    *{
        font-size: $f-s4;
        font-family: $f-f1;
        font-weight: $f-w3;
    }
}

.card {
    border-radius: $br-0-75;
    background-color: $c-w-l;
    overflow: hidden;
    padding: $p-0 !important;

    .card-header {
        flex-direction: row;
        margin: $m-0;
        padding: $p-1-5;
        width: 100%;
    
        * {
            font-size: $f-s4;
            margin: $m-0;
            font-family: $f-f1;
            font-weight: $f-w3;
        }
    }

    .card-body {
        padding: $p-1-5;
        background-color: $c-w-l;

        .box-container{
            border-radius: $br-0-5;
            padding: $p-0-75;
            background-color: $c-w;
        }
    }
}
