@import "_theme.scss";

.display-flex {
    display: flex;

    &.flex-x {
        flex-direction: row;
    }

    &.flex-y {
        flex-direction: column;
    }
}

.display-inline {
    display: inline;
}

.display-grid {
    display: grid;
}


