@import "_theme.scss";

.ft-text {
    // size
    &.size-1 {
        font-size: $f-s1;
    }

    &.size-2 {
        font-size: $f-s2;
    }

    &.size-3 {
        font-size: $f-s3;
    }

    &.size-4 {
        font-size: $f-s4;
    }

    &.size-5 {
        font-size: $f-s5;
    }

    &.size-6 {
        font-size: $f-s6;
    }
    // family
    &.family-1 {
        font-family: $f-f1;
    }

    // weight
    &.weight-1 {
        font-weight: $f-w1;
    }
    &.weight-2 {
        font-weight: $f-w2;
    }
    &.weight-3 {
        font-weight: $f-w3;
    }
    &.weight-4 {
        font-weight: $f-w4;
    }
}