@import "_theme.scss";

// size
.text-size-1 {
    font-size: $f-s1;
}

.text-size-2 {
    font-size: $f-s2;
}

.text-size-3 {
    font-size: $f-s3;
}

.text-size-4 {
    font-size: $f-s4;
}

.text-size-5 {
    font-size: $f-s5;
}

.text-size-6 {
    font-size: $f-s6;
}
// family
.text-family-1 {
    font-family: $f-f1;
}

// weight
.text-weight-1 {
    font-weight: $f-w1;
}
.text-weight-2 {
    font-weight: $f-w2;
}
.text-weight-3 {
    font-weight: $f-w3;
}
.text-weight-4 {
    font-weight: $f-w4;
}