* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 3.5rem;
}

.m-7 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 3rem;
}

.m-10 {
  margin: 3.5rem;
}

.m-top-1 {
  margin-bottom: 1rem;
}

.m-top-bottom-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-left-right-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 3.5rem;
}

.p-7 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 3rem;
}

.p-10 {
  padding: 3.5rem;
}

.p-top-1 {
  padding-bottom: 1rem;
}

.p-top-bottom-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-left-right-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-left-right-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.border-0 {
  border: 0;
}

.border-1 {
  border-color: #006eff;
  border-style: solid;
  border-width: 0.1rem;
}

.border-2 {
  border-color: #10c720;
  border-style: solid;
  border-width: 0.1rem;
}

.border-3 {
  border-color: #fff019;
  border-style: solid;
  border-width: 0.1rem;
}

.border-4 {
  border-color: #dd442f;
  border-style: solid;
  border-width: 0.1rem;
}

.border-5 {
  border-color: #0ebfcc;
  border-style: solid;
  border-width: 0.1rem;
}

.border-w {
  border-color: #f1ecec;
  border-style: solid;
  border-width: 0.1rem;
}

.border-b {
  border-color: #1b1b1b;
  border-style: solid;
  border-width: 0.1rem;
}

.w-max-100 {
  max-width: 100%;
}

.w-max-95 {
  max-width: 95%;
}

.w-max-90 {
  max-width: 90%;
}

.w-max-85 {
  max-width: 85%;
}

.w-max-80 {
  max-width: 80%;
}

.w-max-75 {
  max-width: 75%;
}

.w-max-70 {
  max-width: 70%;
}

.w-max-65 {
  max-width: 65%;
}

.w-max-60 {
  max-width: 60%;
}

.w-max-55 {
  max-width: 55%;
}

.w-max-50 {
  max-width: 50%;
}

.w-max-45 {
  max-width: 45%;
}

.w-max-40 {
  max-width: 40%;
}

.w-max-35 {
  max-width: 35%;
}

.w-max-30 {
  max-width: 30%;
}

.w-max-25 {
  max-width: 25%;
}

.w-max-20 {
  max-width: 20%;
}

.w-max-15 {
  max-width: 15%;
}

.w-max-10 {
  max-width: 10%;
}

.w-max-5 {
  max-width: 5%;
}

.w-max-0 {
  max-width: 0;
}

.h-max-100 {
  max-height: 100%;
}

.h-max-95 {
  max-height: 95%;
}

.h-max-90 {
  max-height: 90%;
}

.h-max-85 {
  max-height: 85%;
}

.h-max-80 {
  max-height: 80%;
}

.h-max-75 {
  max-height: 75%;
}

.h-max-70 {
  max-height: 70%;
}

.h-max-65 {
  max-height: 65%;
}

.h-max-60 {
  max-height: 60%;
}

.h-max-55 {
  max-height: 55%;
}

.h-max-50 {
  max-height: 50%;
}

.h-max-45 {
  max-height: 45%;
}

.h-max-40 {
  max-height: 40%;
}

.h-max-35 {
  max-height: 35%;
}

.h-max-30 {
  max-height: 30%;
}

.h-max-25 {
  max-height: 25%;
}

.h-max-20 {
  max-height: 20%;
}

.h-max-15 {
  max-height: 15%;
}

.h-max-10 {
  max-height: 10%;
}

.h-max-5 {
  max-height: 5%;
}

.h-max-0 {
  max-height: 0;
}

.h-max-1-rem {
  max-height: 1rem;
}

.h-max-2-rem {
  max-height: 2rem;
}

.h-max-3-rem {
  max-height: 3rem;
}

.h-max-4-rem {
  max-height: 4rem;
}

.h-max-5-rem {
  max-height: 5rem;
}

.h-max-6-rem {
  max-height: 6rem;
}

.h-max-7-rem {
  max-height: 7rem;
}

.h-max-8-rem {
  max-height: 8rem;
}

.h-max-9-rem {
  max-height: 9rem;
}

.h-max-10-rem {
  max-height: 10rem;
}

.h-max-11-rem {
  max-height: 11rem;
}

.h-max-12-rem {
  max-height: 12rem;
}

.h-max-13-rem {
  max-height: 13rem;
}

.h-max-14-rem {
  max-height: 14rem;
}

.h-max-15-rem {
  max-height: 15rem;
}

.h-max-16-rem {
  max-height: 16rem;
}

.h-max-17-rem {
  max-height: 17rem;
}

.h-max-18-rem {
  max-height: 18rem;
}

.h-max-19-rem {
  max-height: 19rem;
}

.h-max-20-rem {
  max-height: 20rem;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background-color: #f1ecec;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar:horizontal {
  height: .3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #006eff;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll {
  overflow: scroll;
}

.text-size-1 {
  font-size: 3rem;
}

.text-size-2 {
  font-size: 2.5rem;
}

.text-size-3 {
  font-size: 2rem;
}

.text-size-4 {
  font-size: 1rem;
}

.text-size-5 {
  font-size: 0.5rem;
}

.text-size-6 {
  font-size: 0.25rem;
}

.text-family-1 {
  font-family: Helvetica, Verdana, sans-serif;
}

.text-weight-1 {
  font-weight: 100;
}

.text-weight-2 {
  font-weight: 400;
}

.text-weight-3 {
  font-weight: 700;
}

.text-weight-4 {
  font-weight: 900;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display-inline {
  display: inline;
}

.display-grid {
  display: -ms-grid;
  display: grid;
}

.column-auto {
  width: 100%;
}

.column-25 {
  max-width: 25%;
  min-width: 25%;
}

.column-50 {
  max-width: 50%;
  min-width: 50%;
}

.column-75 {
  max-width: 75%;
  min-width: 75%;
}

.column-100 {
  max-width: 100%;
  min-width: 100%;
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 1.5rem;
}

.header * {
  font-size: 1rem;
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
}

.side-bar {
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  position: relative;
}

.side-bar.collapse {
  width: 3.8rem;
  max-width: 3.8rem;
  min-width: 3.8rem;
}

.side-bar.collapse .side-bar-header#side-header-closed {
  display: inline-block;
  margin: 0;
  padding: 0.25rem;
  width: 100%;
  height: 8vh !important;
  min-height: 8vh !important;
  max-height: 8vh !important;
}

.side-bar.collapse .side-bar-header#side-header-closed * {
  margin: 0;
  width: 100%;
}

.side-bar.collapse .side-bar-header#side-header-opened {
  display: none;
}

.side-bar.collapse .side-bar-body {
  overflow-y: hidden;
  height: 92vh !important;
  min-height: 92vh !important;
  max-height: 92vh !important;
}

.side-bar.collapse .side-bar-body .side-bar-item span {
  display: none;
}

.side-bar.collapse .side-bar-body .side-bar-item span[class^="icon-"] {
  display: initial;
}

.side-bar .side-bar-header#side-header-opened {
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  height: 15vh !important;
  min-height: 15vh !important;
  max-height: 15vh !important;
}

.side-bar .side-bar-header#side-header-opened * {
  margin: 0;
}

.side-bar .side-bar-header#side-header-closed {
  display: none;
}

.side-bar .side-bar-body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85vh !important;
  min-height: 85vh !important;
  max-height: 85vh !important;
}

.side-bar .side-bar-body .side-bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.side-bar .side-bar-body .side-bar-item.expanded {
  -webkit-transition: 1s;
  transition: 1s;
}

.side-bar .side-bar-body .side-bar-item.expanded .side-bar-sub-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar .side-bar-body .side-bar-item.expanded .side-bar-sub-items-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar .side-bar-body .side-bar-item .side-bar-item-title {
  text-align: left;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.25rem;
  border: 0;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items {
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items .side-bar-sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items .side-bar-sub-item:hover {
  background-color: #004196;
  color: #006eff;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items .side-bar-sub-item.active {
  background-color: #65a8ff;
  color: #002453;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 {
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
  padding: 0.25rem 0;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.25rem 0.75rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2.expanded {
  -webkit-transition: 1s;
  transition: 1s;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2.expanded .side-bar-sub-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2 .side-bar-item-title-2 {
  text-align: left;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.25rem;
  border: 0;
  border-radius: 0.25rem;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2 .side-bar-sub-items {
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2 .side-bar-sub-items .side-bar-sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2 .side-bar-sub-items .side-bar-sub-item:hover {
  background-color: #004196;
  color: #006eff;
}

.side-bar .side-bar-body .side-bar-item .side-bar-sub-items-2 .side-bar-item-2 .side-bar-sub-items .side-bar-sub-item.active {
  background-color: #65a8ff;
  color: #002453;
}

.side-bar .side-bar-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem;
  bottom: 0;
}

.side-bar .side-bar-footer * {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.75rem;
  width: auto;
}

.container-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 3.75rem;
}

.badge {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 1.25rem;
}

.badge * {
  font-size: 1rem;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
}

.badge [class^="icon-"] {
  display: inline-block;
}

.card {
  border-radius: 0.75rem;
  background-color: white;
  overflow: hidden;
  padding: 0;
}

.card .card-header {
  margin: 0;
  padding: 1.5rem;
  width: 100%;
}

.card .card-header * {
  font-size: 1rem;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
}

.card .card-body {
  padding: 1.5rem;
  background-color: white;
}

.card .card-body .box-container {
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: #f1ecec;
}

button {
  border: 0;
  padding: 1rem;
  border-radius: 0.25rem;
}

button.action-btn {
  background: transparent !important;
}

@media (prefers-color-scheme: light) {
  html, body {
    background-color: #f1ecec;
  }
  .color-1 {
    color: #006eff;
  }
  .color-2 {
    color: #10c720;
  }
  .color-3 {
    color: #fff019;
  }
  .color-4 {
    color: #dd442f;
  }
  .color-5 {
    color: #0ebfcc;
  }
  .color-w {
    color: #f1ecec;
  }
  .color-b {
    color: #1b1b1b;
  }
  .bg-color-1 {
    background-color: #006eff;
    color: #f1ecec;
  }
  .bg-color-2 {
    background-color: #10c720;
    color: #f1ecec;
  }
  .bg-color-3 {
    background-color: #fff019;
    color: #1b1b1b;
  }
  .bg-color-4 {
    background-color: #dd442f;
    color: #f1ecec;
  }
  .bg-color-5 {
    background-color: #0ebfcc;
    color: #1b1b1b;
  }
  .bg-color-w {
    background-color: #f1ecec;
    color: #1b1b1b;
  }
  .bg-color-b {
    background-color: #1b1b1b;
    color: #f1ecec;
  }
  .bg-color-1-full {
    background-color: #006eff;
    color: #004196;
  }
  .bg-color-2-full {
    background-color: #10c720;
    color: #078111;
  }
  .bg-color-3-full {
    background-color: #fff019;
    color: #b19705;
  }
  .bg-color-4-full {
    background-color: #dd442f;
    color: #a01604;
  }
  .bg-color-5-full {
    background-color: #0ebfcc;
    color: #027a83;
  }
  .bg-color-w-full {
    background-color: #f1ecec;
    color: #adadad;
  }
  .bg-color-b-full {
    background-color: #1b1b1b;
    color: #555555;
  }
  .bg-color-1-transparent {
    background-color: white;
    color: #006eff;
  }
  .bg-color-2-transparent {
    background-color: white;
    color: #10c720;
  }
  .bg-color-3-transparent {
    background-color: white;
    color: #fff019;
  }
  .bg-color-4-transparent {
    background-color: white;
    color: #dd442f;
  }
  .bg-color-5-transparent {
    background-color: white;
    color: #0ebfcc;
  }
  .bg-color-w-transparent {
    background-color: white;
    color: #f1ecec;
  }
  .bg-color-b-transparent {
    background-color: white;
    color: #1b1b1b;
  }
  .card {
    background-color: white;
  }
  .card .card-body {
    background-color: white;
  }
  .card .card-body .box-container {
    background-color: #f1ecec;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #1b1b1b;
  }
  .color-1 {
    color: #004196;
  }
  .color-2 {
    color: #078111;
  }
  .color-3 {
    color: #b19705;
  }
  .color-4 {
    color: #a01604;
  }
  .color-5 {
    color: #027a83;
  }
  .color-w {
    color: #adadad;
  }
  .color-b {
    color: #adadad;
  }
  .bg-color-1 {
    color: #dfdfdf;
    background-color: #004196;
  }
  .bg-color-2 {
    color: #dfdfdf;
    background-color: #078111;
  }
  .bg-color-3 {
    color: #dfdfdf;
    background-color: #b19705;
  }
  .bg-color-4 {
    color: #dfdfdf;
    background-color: #a01604;
  }
  .bg-color-5 {
    color: #dfdfdf;
    background-color: #027a83;
  }
  .bg-color-w {
    color: #dfdfdf;
    background-color: #adadad;
  }
  .bg-color-b {
    color: #dfdfdf;
    background-color: #383838;
  }
  .bg-color-1-full {
    background-color: #002453;
    color: #006eff;
  }
  .bg-color-2-full {
    background-color: #003f05;
    color: #10c720;
  }
  .bg-color-3-full {
    background-color: #463b00;
    color: #fff019;
  }
  .bg-color-4-full {
    background-color: #410800;
    color: #dd442f;
  }
  .bg-color-5-full {
    background-color: #002b2e;
    color: #0ebfcc;
  }
  .bg-color-w-full {
    background-color: #dfdfdf;
    color: #1b1b1b;
  }
  .bg-color-b-full {
    background-color: #202020;
    color: #adadad;
  }
  .bg-color-1-transparent {
    background-color: #202020;
    color: #004196;
  }
  .bg-color-2-transparent {
    background-color: #202020;
    color: #078111;
  }
  .bg-color-3-transparent {
    background-color: #202020;
    color: #b19705;
  }
  .bg-color-4-transparent {
    background-color: #202020;
    color: #a01604;
  }
  .bg-color-5-transparent {
    background-color: #202020;
    color: #027a83;
  }
  .bg-color-w-transparent {
    background-color: #202020;
    color: #adadad;
  }
  .bg-color-b-transparent {
    background-color: #202020;
    color: #383838;
  }
  .card {
    background-color: #202020;
  }
  .card .card-body {
    background-color: #202020;
  }
  .card .card-body .box-container {
    background-color: #1b1b1b;
  }
}
