* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.m-1 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 3.5rem;
}

.m-7 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 3rem;
}

.m-10 {
  margin: 3.5rem;
}

.m-top-1 {
  margin-bottom: 1rem;
}

.m-top-bottom-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.border-0 {
  border: 0;
}

.border-1 {
  border-color: #006eff;
  border-style: solid;
  border-width: 0.1rem;
}

.border-2 {
  border-color: #10c720;
  border-style: solid;
  border-width: 0.1rem;
}

.border-3 {
  border-color: #fff019;
  border-style: solid;
  border-width: 0.1rem;
}

.border-4 {
  border-color: #dd442f;
  border-style: solid;
  border-width: 0.1rem;
}

.border-5 {
  border-color: #0ebfcc;
  border-style: solid;
  border-width: 0.1rem;
}

.border-w {
  border-color: #f1ecec;
  border-style: solid;
  border-width: 0.1rem;
}

.border-b {
  border-color: #1b1b1b;
  border-style: solid;
  border-width: 0.1rem;
}

.w-max-100 {
  max-width: 100%;
}

.w-max-95 {
  max-width: 95%;
}

.w-max-90 {
  max-width: 90%;
}

.w-max-85 {
  max-width: 85%;
}

.w-max-80 {
  max-width: 80%;
}

.w-max-75 {
  max-width: 75%;
}

.w-max-70 {
  max-width: 70%;
}

.w-max-65 {
  max-width: 65%;
}

.w-max-60 {
  max-width: 60%;
}

.w-max-55 {
  max-width: 55%;
}

.w-max-50 {
  max-width: 50%;
}

.w-max-45 {
  max-width: 45%;
}

.w-max-40 {
  max-width: 40%;
}

.w-max-35 {
  max-width: 35%;
}

.w-max-30 {
  max-width: 30%;
}

.w-max-25 {
  max-width: 25%;
}

.w-max-20 {
  max-width: 20%;
}

.w-max-15 {
  max-width: 15%;
}

.w-max-10 {
  max-width: 10%;
}

.w-max-5 {
  max-width: 5%;
}

.w-max-0 {
  max-width: 0;
}

.h-max-100 {
  max-height: 100%;
}

.h-max-95 {
  max-height: 95%;
}

.h-max-90 {
  max-height: 90%;
}

.h-max-85 {
  max-height: 85%;
}

.h-max-80 {
  max-height: 80%;
}

.h-max-75 {
  max-height: 75%;
}

.h-max-70 {
  max-height: 70%;
}

.h-max-65 {
  max-height: 65%;
}

.h-max-60 {
  max-height: 60%;
}

.h-max-55 {
  max-height: 55%;
}

.h-max-50 {
  max-height: 50%;
}

.h-max-45 {
  max-height: 45%;
}

.h-max-40 {
  max-height: 40%;
}

.h-max-35 {
  max-height: 35%;
}

.h-max-30 {
  max-height: 30%;
}

.h-max-25 {
  max-height: 25%;
}

.h-max-20 {
  max-height: 20%;
}

.h-max-15 {
  max-height: 15%;
}

.h-max-10 {
  max-height: 10%;
}

.h-max-5 {
  max-height: 5%;
}

.h-max-0 {
  max-height: 0;
}

.h-max-100-rem {
  max-height: 100rem;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1ecec;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar:horizontal {
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #006eff;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll {
  overflow: scroll;
}

.ft-text.size-1 {
  font-size: 3rem;
}

.ft-text.size-2 {
  font-size: 2.5rem;
}

.ft-text.size-3 {
  font-size: 2rem;
}

.ft-text.size-4 {
  font-size: 1rem;
}

.ft-text.size-5 {
  font-size: 0.5rem;
}

.ft-text.size-6 {
  font-size: 0.25rem;
}

.ft-text.family-1 {
  font-family: Helvetica, Verdana, sans-serif;
}

.ft-text.weight-1 {
  font-weight: 100;
}

.ft-text.weight-2 {
  font-weight: 400;
}

.ft-text.weight-3 {
  font-weight: 700;
}

.ft-text.weight-4 {
  font-weight: 900;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-flex.flex-x {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.display-flex.flex-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display-inline {
  display: inline;
}

.display-grid {
  display: -ms-grid;
  display: grid;
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 1.5rem;
}

.header * {
  font-size: 1rem;
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
}

.container-1 {
  padding: 0.75rem 3.75rem;
}

.badge {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 1.25rem;
}

.badge * {
  font-size: 1rem;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
}

.card {
  border-radius: 0.75rem;
  background-color: white;
  overflow: hidden;
  padding: 0 !important;
}

.card .card-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
}

.card .card-header * {
  font-size: 1rem;
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
}

.card .card-body {
  padding: 1.5rem;
  background-color: white;
}

.card .card-body .box-container {
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: #f1ecec;
}

@media (prefers-color-scheme: light) {
  html, body {
    background-color: #f1ecec;
  }
  .color-1 {
    color: #006eff;
  }
  .color-2 {
    color: #10c720;
  }
  .color-3 {
    color: #fff019;
  }
  .color-4 {
    color: #dd442f;
  }
  .color-5 {
    color: #0ebfcc;
  }
  .color-w {
    color: #f1ecec;
  }
  .color-b {
    color: #1b1b1b;
  }
  .bg-color-1 {
    background-color: #006eff;
    color: #f1ecec;
  }
  .bg-color-2 {
    background-color: #10c720;
    color: #f1ecec;
  }
  .bg-color-3 {
    background-color: #fff019;
    color: #1b1b1b;
  }
  .bg-color-4 {
    background-color: #dd442f;
    color: #f1ecec;
  }
  .bg-color-5 {
    background-color: #0ebfcc;
    color: #1b1b1b;
  }
  .bg-color-w {
    background-color: #f1ecec;
    color: #1b1b1b;
  }
  .bg-color-b {
    background-color: #1b1b1b;
    color: #f1ecec;
  }
  .bg-color-1-full {
    background-color: #006eff;
    color: #004196;
  }
  .bg-color-2-full {
    background-color: #10c720;
    color: #078111;
  }
  .bg-color-3-full {
    background-color: #fff019;
    color: #b19705;
  }
  .bg-color-4-full {
    background-color: #dd442f;
    color: #a01604;
  }
  .bg-color-5-full {
    background-color: #0ebfcc;
    color: #027a83;
  }
  .bg-color-w-full {
    background-color: #f1ecec;
    color: #adadad;
  }
  .bg-color-b-full {
    background-color: #1b1b1b;
    color: #555555;
  }
  .bg-color-1-transparent {
    background-color: white;
    color: #006eff;
  }
  .bg-color-2-transparent {
    background-color: white;
    color: #10c720;
  }
  .bg-color-3-transparent {
    background-color: white;
    color: #fff019;
  }
  .bg-color-4-transparent {
    background-color: white;
    color: #dd442f;
  }
  .bg-color-5-transparent {
    background-color: white;
    color: #0ebfcc;
  }
  .bg-color-w-transparent {
    background-color: white;
    color: #f1ecec;
  }
  .bg-color-b-transparent {
    background-color: white;
    color: #1b1b1b;
  }
  .card {
    background-color: white;
  }
  .card .card-body {
    background-color: white;
  }
  .card .card-body .box-container {
    background-color: #f1ecec;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #1b1b1b;
  }
  .color-1 {
    color: #004196;
  }
  .color-2 {
    color: #078111;
  }
  .color-3 {
    color: #b19705;
  }
  .color-4 {
    color: #a01604;
  }
  .color-5 {
    color: #027a83;
  }
  .color-w {
    color: #adadad;
  }
  .color-b {
    color: #adadad;
  }
  .bg-color-1 {
    color: #dfdfdf;
    background-color: #004196;
  }
  .bg-color-2 {
    color: #dfdfdf;
    background-color: #078111;
  }
  .bg-color-3 {
    color: #dfdfdf;
    background-color: #b19705;
  }
  .bg-color-4 {
    color: #dfdfdf;
    background-color: #a01604;
  }
  .bg-color-5 {
    color: #dfdfdf;
    background-color: #027a83;
  }
  .bg-color-w {
    color: #dfdfdf;
    background-color: #adadad;
  }
  .bg-color-b {
    color: #dfdfdf;
    background-color: #383838;
  }
  .bg-color-1-full, .bg-color-1-mix {
    background-color: #002453;
    color: #006eff;
  }
  .bg-color-2-full, .bg-color-2-mix {
    background-color: #003f05;
    color: #10c720;
  }
  .bg-color-3-full, .bg-color-3-mix {
    background-color: #463b00;
    color: #fff019;
  }
  .bg-color-4-full, .bg-color-4-mix {
    background-color: #410800;
    color: #dd442f;
  }
  .bg-color-5-full, .bg-color-5-mix {
    background-color: #002b2e;
    color: #0ebfcc;
  }
  .bg-color-w-full, .bg-color-w-mix {
    background-color: #dfdfdf;
    color: #adadad;
  }
  .bg-color-b-full, .bg-color-b-mix {
    background-color: #202020;
    color: #adadad;
  }
  .bg-color-1-transparent {
    background-color: #202020;
    color: #004196;
  }
  .bg-color-2-transparent {
    background-color: #202020;
    color: #078111;
  }
  .bg-color-3-transparent {
    background-color: #202020;
    color: #b19705;
  }
  .bg-color-4-transparent {
    background-color: #202020;
    color: #a01604;
  }
  .bg-color-5-transparent {
    background-color: #202020;
    color: #027a83;
  }
  .bg-color-w-transparent {
    background-color: #202020;
    color: #adadad;
  }
  .bg-color-b-transparent {
    background-color: #202020;
    color: #383838;
  }
  .card {
    background-color: #202020;
  }
  .card .card-body {
    background-color: #202020;
  }
  .card .card-body .box-container {
    background-color: #1b1b1b;
  }
}
